html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #0a0a0a;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #a855f7;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #323232 #fafafa;

  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar:horizontal {
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: bg-transparent
}

*::-webkit-scrollbar-thumb {
  transition: background 0.2s ease-in-out;
  border: 3px solid transparent;
  background: #323232;
  border-radius: 9999px;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
  background-clip: content-box;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}